.meeting-search {
    text-align: center;
    margin-top: 80px;
    input {
        font-size: 20px;
        position: relative;
        top: 4px;
    }
}

.meeting-date {
    text-align: center;
    margin-top: 80px;
}

.booklist {
    margin-top: 60px;
    border-right: 1px solid black;

    .book {

        .pad {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
            margin: 8px;

        }
    }
    .marker {
        font-weight: 700;
    }
    .book-info {
        font-size: 22px;
    }
    .book-image {
        padding: 12px;
    }

    .description {
        background-color: white;
        height: 100%;
        padding: 24px;
    }
    .vote-buttons {
        button {
            margin: 4px;
        }
    }
}

.vote-section {
    margin-top: 60px;
    .voted { 
        .voted-title {
            font-size: 18px;
        }
    
        .remove {
            font-size: 18px;
            margin: 4px;
            color: red;
            font-weight: 700;
            cursor: pointer;
        }
    }
}
