<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="group">
                    <h1>{{group.name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="meetings" *ngFor="let meeting of meetings">
                        <a (click)="show(meeting._id)">{{meeting.meetingDate}}</a>
                        <div *ngIf="shown === meeting._id">
                            <div *ngFor="let pitch of meeting.pitches">
                                <b>{{pitch.title}}</b> (pitched by: {{pitch.user}}) (votes: {{votes[pitch.id]}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>